# Provenance: MODELED-FROM-DOCS (2026-07-17). No first-party OpenAPI/Swagger spec is
# published by Wompi. This document was hand-modeled from the public developer
# documentation at https://docs.wompi.co (Colombia) — the Environments & Keys,
# Acceptance Tokens, Tokenization, Payment Sources, Transactions, PSE, Payment Links,
# and Events pages. Hosts and paths confirmed against docs (docs.wompi.co returns 403
# to automated fetchers; endpoints corroborated across multiple documentation pages and
# community/SDK references). Base host: https://production.wompi.co/v1 (sandbox:
# https://sandbox.wompi.co/v1). Amounts are integer cents ("amount_in_cents") in COP.
openapi: 3.0.3
info:
  title: Wompi API
  description: >-
    Wompi is the payment gateway of Grupo Bancolombia, serving Colombia (COP).
    The REST API creates and tracks transactions across local payment methods -
    CARD, NEQUI (mobile wallet), PSE (Pagos Seguros en Linea / online bank debit),
    BANCOLOMBIA_TRANSFER (Boton Bancolombia), and BANCOLOMBIA_COLLECT - plus card
    and Nequi tokenization, reusable payment sources, and hosted payment links.
    Public-key endpoints are safe for the browser; private-key endpoints are
    server-side only.
  termsOfService: https://wompi.co/es/co/terminos-y-condiciones
  contact:
    name: Wompi Soporte
    url: https://docs.wompi.co
    email: soporte@wompi.co
  version: '1.0'
servers:
  - url: https://production.wompi.co/v1
    description: Production
  - url: https://sandbox.wompi.co/v1
    description: Sandbox (test keys pub_test_ / prv_test_)
tags:
  - name: Merchants
    description: Merchant info and presigned acceptance tokens.
  - name: Tokenization
    description: Tokenize cards and Nequi accounts.
  - name: Payment Sources
    description: Reusable payment sources for recurring charges.
  - name: Transactions
    description: Create and track payment transactions.
  - name: PSE
    description: PSE financial institution catalog.
  - name: Payment Links
    description: Hosted, shareable payment links.
paths:
  /merchants/{public_key}:
    get:
      operationId: getMerchant
      tags: [Merchants]
      summary: Get merchant and presigned acceptance tokens
      description: >-
        Returns merchant configuration, accepted payment methods, and the
        presigned acceptance tokens (end-user policy + personal-data
        authorization) that are mandatory when creating transactions and
        payment sources.
      security:
        - PublicKey: []
      parameters:
        - name: public_key
          in: path
          required: true
          description: The merchant public key (pub_prod_... or pub_test_...).
          schema:
            type: string
      responses:
        '200':
          description: Merchant data with presigned acceptance tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantResponse'
        '404':
          description: Merchant not found.
  /tokens/cards:
    post:
      operationId: tokenizeCard
      tags: [Tokenization]
      summary: Tokenize a card
      description: >-
        Exchanges raw card data for a single-use card token (tok_...).
        Authorized with the PUBLIC key so it is safe to call from the browser.
      security:
        - PublicKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTokenRequest'
      responses:
        '201':
          description: Card token created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTokenResponse'
        '422':
          description: Validation error.
  /tokens/nequi:
    post:
      operationId: tokenizeNequi
      tags: [Tokenization]
      summary: Create a Nequi token (subscribe)
      description: >-
        Starts Nequi enrollment for a phone number; the user approves the
        subscription in the Nequi app. Returns a Nequi token (nequi_...) whose
        status is polled before it can be charged.
      security:
        - PublicKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NequiTokenRequest'
      responses:
        '201':
          description: Nequi token created (status PENDING until approved in-app).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NequiTokenResponse'
  /tokens/nequi/{token_id}:
    get:
      operationId: getNequiToken
      tags: [Tokenization]
      summary: Get Nequi token status
      description: Poll a Nequi token to see if the user approved the subscription (APPROVED / DECLINED / PENDING).
      security:
        - PublicKey: []
      parameters:
        - name: token_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Nequi token status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NequiTokenResponse'
  /payment_sources:
    post:
      operationId: createPaymentSource
      tags: [Payment Sources]
      summary: Create a reusable payment source
      description: >-
        Creates a payment source from a card token or an approved Nequi token so
        the customer can be charged later without re-entering data. Requires the
        PRIVATE key and a presigned acceptance token.
      security:
        - PrivateKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSourceRequest'
      responses:
        '201':
          description: Payment source created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSourceResponse'
  /transactions:
    post:
      operationId: createTransaction
      tags: [Transactions]
      summary: Create a transaction
      description: >-
        Creates a payment transaction for a given amount_in_cents and currency
        (COP). The payment_method object varies by type - CARD, NEQUI, PSE,
        BANCOLOMBIA_TRANSFER, or BANCOLOMBIA_COLLECT. Requires an acceptance
        token and a signature (firma de integridad) computed from the integrity
        secret. New transactions start in PENDING.
      security:
        - PublicKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
      responses:
        '201':
          description: Transaction created (status PENDING).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '422':
          description: Validation error.
  /transactions/{id}:
    get:
      operationId: getTransaction
      tags: [Transactions]
      summary: Get a transaction
      description: >-
        Retrieves the current status of a transaction. Final status is one of
        APPROVED, DECLINED, VOIDED (card only), or ERROR.
      security:
        - PublicKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '404':
          description: Transaction not found.
  /transactions/{id}/void:
    post:
      operationId: voidTransaction
      tags: [Transactions]
      summary: Void a card transaction
      description: Voids/annuls an approved card transaction. Requires the PRIVATE key.
      security:
        - PrivateKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Void request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
  /pse/financial_institutions:
    get:
      operationId: listPseFinancialInstitutions
      tags: [PSE]
      summary: List PSE financial institutions
      description: >-
        Returns the catalog of PSE (Pagos Seguros en Linea) banks - the
        financial_institution_code + name pairs a customer picks from when
        paying by online bank debit.
      security:
        - PublicKey: []
      responses:
        '200':
          description: PSE financial institution catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PseInstitutionsResponse'
  /payment_links:
    post:
      operationId: createPaymentLink
      tags: [Payment Links]
      summary: Create a payment link
      description: >-
        Creates a hosted, shareable payment link (checkout.wompi.co/l/...) for a
        fixed or open amount. Requires the PRIVATE key.
      security:
        - PrivateKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkRequest'
      responses:
        '201':
          description: Payment link created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
  /payment_links/{id}:
    get:
      operationId: getPaymentLink
      tags: [Payment Links]
      summary: Get a payment link
      security:
        - PrivateKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment link data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkResponse'
components:
  securitySchemes:
    PublicKey:
      type: http
      scheme: bearer
      description: >-
        Bearer authorization with the merchant PUBLIC key (pub_prod_... /
        pub_test_...). Safe for client-side use; grants tokenization, merchant
        read, transaction create/read, and PSE catalog access.
    PrivateKey:
      type: http
      scheme: bearer
      description: >-
        Bearer authorization with the merchant PRIVATE key (prv_prod_... /
        prv_test_...). Server-side only; required for payment sources, voids,
        and payment links.
  schemas:
    MerchantResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            email:
              type: string
            presigned_acceptance:
              type: object
              properties:
                acceptance_token:
                  type: string
                permalink:
                  type: string
                type:
                  type: string
            presigned_personal_data_auth:
              type: object
              properties:
                acceptance_token:
                  type: string
                permalink:
                  type: string
            accepted_currencies:
              type: array
              items:
                type: string
                example: COP
            accepted_payment_methods:
              type: array
              items:
                type: string
                example: CARD
    CardTokenRequest:
      type: object
      required: [number, cvc, exp_month, exp_year, card_holder]
      properties:
        number:
          type: string
          example: '4242424242424242'
        cvc:
          type: string
          example: '123'
        exp_month:
          type: string
          example: '08'
        exp_year:
          type: string
          example: '28'
        card_holder:
          type: string
          example: Pedro Perez
    CardTokenResponse:
      type: object
      properties:
        status:
          type: string
          example: CREATED
        data:
          type: object
          properties:
            id:
              type: string
              example: tok_test_1234_abcd
            brand:
              type: string
              example: VISA
            last_four:
              type: string
              example: '4242'
            expires_at:
              type: string
              format: date-time
    NequiTokenRequest:
      type: object
      required: [phone_number]
      properties:
        phone_number:
          type: string
          example: '3991111111'
    NequiTokenResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: nequi_test_abcd1234
            status:
              type: string
              enum: [PENDING, APPROVED, DECLINED]
            phone_number:
              type: string
    PaymentSourceRequest:
      type: object
      required: [type, token, customer_email, acceptance_token]
      properties:
        type:
          type: string
          enum: [CARD, NEQUI]
        token:
          type: string
          description: A card token (tok_...) or approved Nequi token (nequi_...).
        customer_email:
          type: string
        acceptance_token:
          type: string
    PaymentSourceResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
              example: 12345
            type:
              type: string
            status:
              type: string
              example: AVAILABLE
            token:
              type: string
    TransactionRequest:
      type: object
      required: [amount_in_cents, currency, customer_email, acceptance_token, reference, payment_method, signature]
      properties:
        amount_in_cents:
          type: integer
          description: Amount in COP cents (integer). e.g. 4980000 = COP 49,800.
          example: 4980000
        currency:
          type: string
          example: COP
        customer_email:
          type: string
        reference:
          type: string
          description: Unique merchant-side reference for the payment.
        acceptance_token:
          type: string
        signature:
          type: string
          description: Integrity signature (firma de integridad) computed from reference+amount+currency+integrity_secret.
        payment_method:
          oneOf:
            - $ref: '#/components/schemas/PaymentMethodCard'
            - $ref: '#/components/schemas/PaymentMethodNequi'
            - $ref: '#/components/schemas/PaymentMethodPse'
        payment_source_id:
          type: integer
          description: Charge a stored payment source instead of a payment_method.
    PaymentMethodCard:
      type: object
      properties:
        type:
          type: string
          example: CARD
        token:
          type: string
          example: tok_test_1234_abcd
        installments:
          type: integer
          example: 1
    PaymentMethodNequi:
      type: object
      properties:
        type:
          type: string
          example: NEQUI
        phone_number:
          type: string
    PaymentMethodPse:
      type: object
      properties:
        type:
          type: string
          example: PSE
        user_type:
          type: integer
          description: 0 = natural person, 1 = legal entity.
        user_legal_id_type:
          type: string
          example: CC
        user_legal_id:
          type: string
        financial_institution_code:
          type: string
        payment_description:
          type: string
    TransactionResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: 1234-1699999999-12345
            status:
              type: string
              enum: [PENDING, APPROVED, DECLINED, VOIDED, ERROR]
            amount_in_cents:
              type: integer
            currency:
              type: string
              example: COP
            reference:
              type: string
            payment_method_type:
              type: string
              example: CARD
            status_message:
              type: string
            created_at:
              type: string
              format: date-time
    PseInstitutionsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              financial_institution_code:
                type: string
                example: '1'
              financial_institution_name:
                type: string
                example: Banco que aprueba
    PaymentLinkRequest:
      type: object
      required: [name, description, single_use, currency, amount_in_cents]
      properties:
        name:
          type: string
        description:
          type: string
        single_use:
          type: boolean
        collect_shipping:
          type: boolean
        currency:
          type: string
          example: COP
        amount_in_cents:
          type: integer
    PaymentLinkResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: abc123XYZ
            name:
              type: string
            amount_in_cents:
              type: integer
            currency:
              type: string
            url:
              type: string
              example: https://checkout.wompi.co/l/abc123XYZ
